#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tasks-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 100px;
}

.task-box, .archive-box {
  width: 45%;
  border: 5px solid #000000;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px #16FF00;
}

.task {
  margin-bottom: 10px;
  border: solid 5px #0b8800;
  
}

.task button {
  background-color: #0b8800;
  color: black;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 8px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.task-input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.task-input > input, .task-input > textarea {
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom:10px;
}

.task-input > textarea {
  width: 100%;
  resize: vertical;
}
